<launch>

    <node name="camera1" pkg="usb_cam" type="usb_cam_node">
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="head_camera" />
        <param name="io_method" value="mmap"/>
    </node>
    <!--
    <node name="mapper" pkg="lsd_slam_core" type="live_slam" respawn="false" output="screen">
        <remap from="image" to="/usb_cam/image_raw" />
    </node>
    <node name="viewer" pkg="lsd_slam_viewer" type="viewer" respawn="false" output="screen" />
    -->

    <node name="wheel_navigator" pkg="wheels" type="wheel_navigator" respawn="false" output="screen">
		<remap from="image" to="/camera1/image_raw" />
    </node>
    <node name="wheel_status_console" pkg="wheels" type="wheel_status_console" respawn="false" output="screen" launch-prefix="xterm -e"/>
    <node name="wheel_driver" pkg="wheels" type="wheel_driver" respawn="false" output="screen" />
    <node name="wheel_manual_console" pkg="wheels" type="wheel_manual_console" respawn="false" output="screen" />

    <node name="wheel_controller" pkg="wheels" type="wheel_controller" respawn="false" output="screen" />
    
    
</launch>
